<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel | BullPOV</title>
</head>
<body>
    
    <a href="/admin-panel/declare-results">Declare Results</a><br>
    <a href="/admin-panel/indice-update">Update Indices Data</a><br>
    <a href="/admin-panel/update-stocks">Update All Stocks Data</a><br>
    <a href="/admin-panel/open-trading">Open Trading</a><br>
    <a href="/admin-panel/close-trading">Close Trading</a><br>

</body>
</html>