<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <div>
        <a href="/adminpanelhai-aukaat-me-raha/open-trading">Open Trading</a><br>
        <a href="/adminpanelhai-aukaat-me-raha/close-trading">Close Trading</a><br>
        <a href="/adminpanelhai-aukaat-me-raha/update-indices">Update Indices</a><br>
        <a href="/adminpanelhai-aukaat-me-raha/update-stocks">Update Stocks</a><br>
        <a href="/adminpanelhai-aukaat-me-raha/declare-results">Declare Results</a><br>
        <a href="/adminpanelhai-aukaat-me-raha/data-maintainence">Data Maintainence</a><br>
        <a href="/adminpanelhai-aukaat-me-raha/uwr">User Withdrawal Requests</a><br>
        <br><br><br><br>
        <h1>Top Gainers</h1>
        <form action="/adminpanelhai-aukaat-me-raha/update-trends">
            <input type="text" name="gainer">
        <h1>Top Losers</h1>
            <input type="text" name="loser">
        <h1>Top Volumes</h1>
            <input type="text" name="volume">
            <button type="submit">Submit</button>
        </form>
        <br><br>
        <h1>Platform Cut Percentage</h1>
        <form action="/adminpanelhai-aukaat-me-raha/platform-cut" method="post">
            {% csrf_token %}
        {% for x, y, z in data %}
        <label for="">{{x.Name}} | up: {{y}} | down: {{z}}</label>
        <input type="text" name="cuts[]" value="{{x.Symbol}}-"><br><br>
        {% endfor %}
        <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>