<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Withdrawal Requests</title>
</head>
<body>
    {% for w in withdrawals %}
    <h3><span>TRID: {{w.ID}}</span>&nbsp;|&nbsp;<span>User Name: {{w.User.first_name}}</span>&nbsp;|&nbsp;<span>Withdrawal Request: {{w.Amount}}</span>&nbsp;|&nbsp;<span>UPI ID: {{w.WithdrawalUPI}}</span>&nbsp;|&nbsp;<span><button onclick="window.location.href='/adminpanelhai-aukaat-me-raha/withdrawn/{{w.ID}}'">SETTLE</button></span></h3>
    {% endfor %}
</body>
</html>