{% extends 'base.html' %}
{% block title %}Beta Version | BullPOV{% endblock %}
{% load static %}
{% block body %}

<div class="container section-title" data-aos="fade-up">
  <br>
        <h2>Under Beta Testing</h2>
        <p>We are currently in the testing phase of our service.</p>
      </div><!-- End Section Title -->
<center>
    <section id="hero" class="hero section" style="width: 1000px; align-items: left; align-content: left; max-width: 100%;padding: 16px;
    box-sizing: border-box; margin-top: -50px;">
    <h2 style="text-align: left;"><strong>We’re not accepting open registrations at the moment.</strong><br>
To get <strong>exclusive access</strong> to login credentials, join our official WhatsApp group, <strong>access will be shared only with selected/lucky members.</strong><br>
Don’t miss your chance to be one of the first!</h2><br>
<button onclick="window.location.href='https://chat.whatsapp.com/HaOrHV1P9IdFvA9UCGxujK?mode=ac_t'" class="btn btn-outline-success">Join <i class="bi bi-whatsapp"></i> Group</button>

</section>
</center>
<br>
{% endblock %}