<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Dashboard | BullPOV</title>
  <meta name="description" content="Play the markets your way with BullPOV — India's first stock-based skill gaming platform. Analyze, predict, and win based on your stock market skills. No luck, just strategy. Join now and trade for thrill, not risk.">
  <meta name="keywords" content="bullpov, bull pov, stock gaming India, skill-based trading, stock market game, NSE simulation, trading game app, stock prediction platform, BullPOV, stock fantasy India">

  <!-- Favicons -->
  <link href="{% static 'assets/img/Logo Circle.png' %}" rel="icon">
  <link href="{% static 'assets/img/Logo Circle.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/drift-zoom/drift-basic.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/support.css' %}" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header position-relative">
    <!-- Main Header -->
    <div class="main-header">
      <div class="container-fluid container-xl">
        <div class="d-flex py-3 align-items-center justify-content-between">

          <!-- Logo -->
          <a href="/" class="logo d-flex align-items-center">
            <img src="{% static 'assets/img/NOBG.png' %}" alt="BullPOV Logo">
            <h1 class="BullPOV">ullPOV</h1>
          </a>

          {% if request.user.is_authenticated %}

          <!-- Actions -->
          <div class="header-actions d-flex align-items-center justify-content-end">

            <!-- Account -->
            <div class="dropdown account-dropdown">
              <button class="header-action-btn" data-bs-toggle="dropdown">
                <i class="bi bi-person"></i>
                <span class="action-text d-none d-md-inline-block">Account</span>
              </button>
              <div class="dropdown-menu">
                <div class="dropdown-header">
                  <h6>Welcome <span class="sitename">{{request.user.first_name}}</span></h6>
                  <p class="mb-0">Access account &amp; manage trades</p>
                </div>
                <div class="dropdown-body">
                  <a class="dropdown-item d-flex align-items-center" href="account.html">
                    <i class="bi bi-person-circle me-2"></i>
                    <span>My Profile</span>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="orders.html">
                    <i class="bi bi-bag-check me-2"></i>
                    <span>My Orders</span>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="orders.html">
                    <i class="bi bi-eye me-2"></i>
                    <span>My Watch List</span>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="settings.html">
                    <i class="bi bi-gear me-2"></i>
                    <span>Settings</span>
                  </a>
                </div>
                <div class="dropdown-footer">
                  <a href="/signout" class="btn btn-outline-primary w-100 mb-2">SignOUT</a>
                </div>
              </div>
            </div>

            <!-- Wishlist -->
            <a href="wishlist.html" class="header-action-btn d-none d-md-flex">
              <i class="bi bi-eye"></i>
              <span class="action-text d-none d-md-inline-block">Watch List</span>
              <span class="badge">0</span>
            </a>
            {% endif %}

            <!-- Mobile Navigation Toggle -->
            <i class="mobile-nav-toggle d-xl-none bi bi-list me-0"></i>

          </div>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <div class="header-nav">
      <div class="container-fluid container-xl position-relative">
        <nav id="navmenu" class="navmenu">
          <ul>
            {% if request.user.is_authenticated %}
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#how-it-works">How it works?</a></li>
            <li><a href="#what-you-get">What you get?</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#faqs">FAQs</a></li>
            <li><a href="/contact">Contact Us</a></li>
            {% else %}
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#how-it-works">How it works?</a></li>
            <li><a href="#what-you-get">What you get?</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#faqs">FAQs</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/signin">SignIN</a></li>
            {% endif %}

          </ul>
        </nav>
      </div>
    </div>
    <!-- Announcement Bar -->
         {% if messages %}
         {% for message in messages %}
         {% if message.tags == "warning" %}
    <div class="announcement-bar py-2" style="background-color: red;">
      <div class="container-fluid container-xl">
        <div class="announcement-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 700
              },
              "slidesPerView": 1,
              "effect": "slide",
              "direction": "vertical"
            }
          </script>
          <div class="swiper-wrapper">
            <div class="swiper-slide">{{message}}</div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="announcement-bar py-2" style="background-color: green;">
      <div class="container-fluid container-xl">
        <div class="announcement-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 700
              },
              "slidesPerView": 1,
              "effect": "slide",
              "direction": "vertical"
            }
          </script>
          <div class="swiper-wrapper">
            <div class="swiper-slide">{{message}}</div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
        <script>
  setTimeout(() => {
    const bar = document.querySelector('.announcement-bar');
    if (bar) {
      bar.style.transition = 'opacity 0.5s ease';
      bar.style.opacity = '0';
      setTimeout(() => bar.remove(), 500); // remove it after fade-out
    }
  }, 4000);
</script>
    {% endif %}
    <!-- Announcement Bar -->
    <div class="announcement-bar py-2">
      <div class="container-fluid container-xl">
        <div class="announcement-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 1000
              },
              "slidesPerView": 1,
              "effect": "slide",
              "direction": "vertical"
            }
          </script>
          <div class="swiper-wrapper" id="data">
            {% for name, figs in data.items %}
            {% if figs.2 == "up" %}
            <div class="swiper-slide">{{name}} - {{figs.0|floatformat:2}} (<i style="color: green;">{{figs.1|floatformat:2}}</i>)</div>
            {% else %}
            <div class="swiper-slide">{{name}} - {{figs.0|floatformat:2}} (<i style="color: red;">{{figs.1|floatformat:2}}</i>)</div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

</header>

  <main class="main">


           <div class="container">
          <!-- Search Results Header Section -->
    <section id="search-results-header" class="search-results-header section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="search-results-header">
          <div class="row align-items-center">
            <div class="col-lg-12" data-aos="fade-left" data-aos-delay="300">
                <form method="get" class="search-form" action="/search">
                <div class="input-group">
                  <input type="search" class="form-control" placeholder="Search Stocks..." name="search" value="" required="">
                  <button class="btn search-btn" type="submit">
                    <i class="bi bi-search"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Search Results Header Section -->




<!-- https://assets.tickertape.in/stock-logos/TCS.png -->
          <!-- Category Product List Section -->
          <section id="category-product-list" class="category-product-list section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

              <div class="row gy-4">

                {% if userTrades != None %}
                <h1>Your Trades</h1>
                {% for trade in userTrades %}
                <div class="col-lg-4">
                  <div class="product-box">
                    <div class="product-thumb">
                      <span class="product-label">{{trade.Symbol}}</span>
                      <img src="https://assets-netstorage.groww.in/stock-assets/logos2/{{trade.Symbol|slice:':-3'}}.png" alt="Product Image" class="main-img" loading="lazy">
                      <div class="product-overlay">
                        <div class="product-quick-actions">
                        </div>
                        <div class="add-to-cart-container">
                          <div class="cart-btn-group">
  <button type="button" onclick="window.location.href='/trade-details/{{trade.Symbol}}'" class="cart-btn green-btn"><i class="bi bi-eye"></i></button>
</div>

                        </div>
                      </div>
                    </div>
                    <div class="product-content">
                        <h2 style="text-align: left; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><a href="/trade-details/{{trade.Symbol}}">{{trade.Name}}</a></h2>
                        <h4 style="text-align: left;">₹{{trade.CurrentPrice}} {% if trade.CurrentPrice > trade.ClosingPrice %}(<span style="color: green;">Bullish</span>){% else %}(<span style="color: red;">Bearish</span>){% endif %}</h4><br>
                        <p style="text-align: left;">Market Cap: <strong>{{trade.MktCap}}</strong>
                          <br>
                          Sector: <strong>{{trade.Sector}}</strong>
                          <br>
                          Volume: <strong>{{trade.Volume}}</strong>
                        </p>
                    </div>
                  </div>
                </div>
                <!-- End Product 1 -->
                 {% endfor %}
                <div class="col-lg-4">
  <div class="product-box d-flex justify-content-center align-items-center" style="height: 100%; min-height: 300px;">
    <i class="bi bi-arrow-right-circle" style="font-size: 2rem;"></i>
    <a href="/categories">
      <h3 class="text-center m-0">&nbsp;See more...</h3>
    </a>
  </div>
</div>
{% endif %}



                <h1>Most traded on BullPOV</h1>
                {% for toptraded in topTraded %}
                <div class="col-lg-4">
                  <div class="product-box">
                    <div class="product-thumb">
                      <span class="product-label">{{toptraded.Symbol}}</span>
                      <img src="https://assets-netstorage.groww.in/stock-assets/logos2/{{toptraded.Symbol|slice:':-3'}}.png" alt="Product Image" class="main-img" loading="lazy">
                      <div class="product-overlay">
                        <div class="product-quick-actions">
                        </div>
                        <div class="add-to-cart-container">
                          <div class="cart-btn-group">
  <button type="button" onclick="window.location.href='/stock-preview/{{toptraded.Symbol}}'" class="cart-btn green-btn"><i class="bi bi-arrow-up"></i></button>
  <button type="button" onclick="window.location.href='/stock-preview/{{toptraded.Symbol}}'" class="cart-btn red-btn"><i class="bi bi-arrow-down"></i></button>
</div>
<style>
  .cart-btn-group {
  display: flex;
  gap: 10px; /* space between buttons */
}

.cart-btn {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.green-btn {
  background-color: #28a745; /* Bootstrap green */
}

.green-btn:hover {
  background-color: #218838;
}

.red-btn {
  background-color: #dc3545; /* Bootstrap red */
}

.red-btn:hover {
  background-color: #c82333;
}

</style>
                        </div>
                      </div>
                    </div>
                    <div class="product-content">
                        <h2 style="text-align: left; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><a href="/stock-preview/{{toptraded.Symbol}}">{{toptraded.Name}}</a></h2>
                        <h4 style="text-align: left;">₹{{toptraded.CurrentPrice}} {% if toptraded.CurrentPrice > toptraded.ClosingPrice %}(<span style="color: green;">Bullish</span>){% else %}(<span style="color: red;">Bearish</span>){% endif %}</h4><br>
                        <p style="text-align: left;">Market Cap: <strong>{{toptraded.MktCap}}</strong>
                          <br>
                          Sector: <strong>{{toptraded.Sector}}</strong>
                          <br>
                          Volume: <strong>{{toptraded.Volume}}</strong>
                        </p>
                    </div>
                  </div>
                </div>
                <!-- End Product 1 -->
                 {% endfor %}
                <div class="col-lg-4">
  <div class="product-box d-flex justify-content-center align-items-center" style="height: 100%; min-height: 300px;">
    <i class="bi bi-arrow-right-circle" style="font-size: 2rem;"></i>
    <a href="/categories">
      <h3 class="text-center m-0">&nbsp;See more...</h3>
    </a>
  </div>
</div>



                <h1>Top Volumes</h1>
                {% for topvolume in topVolumes %}
                <div class="col-lg-4">
                  <div class="product-box">
                    <div class="product-thumb">
                      <span class="product-label">{{topvolume.Symbol}}</span>
                      <img src="https://assets-netstorage.groww.in/stock-assets/logos2/{{topvolume.Symbol|slice:':-3'}}.png" alt="Product Image" class="main-img" loading="lazy">
                      <div class="product-overlay">
                        <div class="product-quick-actions">
                        </div>
                        <div class="add-to-cart-container">
                          <div class="cart-btn-group">
  <button type="button" onclick="window.location.href='/stock-preview/{{topvolume.Symbol}}'" class="cart-btn green-btn"><i class="bi bi-arrow-up"></i></button>
  <button type="button" onclick="window.location.href='/stock-preview/{{topvolume.Symbol}}'" class="cart-btn red-btn"><i class="bi bi-arrow-down"></i></button>
</div>
<style>
  .cart-btn-group {
  display: flex;
  gap: 10px; /* space between buttons */
}

.cart-btn {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.green-btn {
  background-color: #28a745; /* Bootstrap green */
}

.green-btn:hover {
  background-color: #218838;
}

.red-btn {
  background-color: #dc3545; /* Bootstrap red */
}

.red-btn:hover {
  background-color: #c82333;
}

</style>
                        </div>
                      </div>
                    </div>
                    <div class="product-content">
                        <h2 style="text-align: left; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><a href="/stock-preview/{{topvolume.Symbol}}">{{topvolume.Name}}</a></h2>
                        <h4 style="text-align: left;">₹{{topvolume.CurrentPrice}} {% if topvolume.CurrentPrice > topvolume.ClosingPrice %}(<span style="color: green;">Bullish</span>){% else %}(<span style="color: red;">Bearish</span>){% endif %}</h4><br>
                        <p style="text-align: left;">Market Cap: <strong>{{topvolume.MktCap}}</strong>
                          <br>
                          Sector: <strong>{{topvolume.Sector}}</strong>
                          <br>
                          Volume: <strong>{{topvolume.Volume}}</strong>
                        </p>
                    </div>
                  </div>
                </div>
                 {% endfor %}
                 <div class="col-lg-4">
  <div class="product-box d-flex justify-content-center align-items-center" style="height: 100%; min-height: 300px;">
    <i class="bi bi-arrow-right-circle" style="font-size: 2rem;"></i>
    <a href="/categories">
      <h3 class="text-center m-0">&nbsp;See more...</h3>
    </a>
  </div>
</div>

                 <h1>Top Gainers</h1>
                {% for topgainer in topGainers %}
                <div class="col-lg-4">
                  <div class="product-box">
                    <div class="product-thumb">
                      <span class="product-label">{{topgainer.Symbol}}</span>
                      <img src="https://assets-netstorage.groww.in/stock-assets/logos2/{{topgainer.Symbol|slice:':-3'}}.png" alt="Product Image" class="main-img" loading="lazy">
                      <div class="product-overlay">
                        <div class="product-quick-actions">
                        </div>
                        <div class="add-to-cart-container">
                          <div class="cart-btn-group">
  <button type="button" onclick="window.location.href='/stock-preview/{{topgainer.Symbol}}'" class="cart-btn green-btn"><i class="bi bi-arrow-up"></i></button>
  <button type="button" onclick="window.location.href='/stock-preview/{{topgainer.Symbol}}'" class="cart-btn red-btn"><i class="bi bi-arrow-down"></i></button>
</div>
<style>
  .cart-btn-group {
  display: flex;
  gap: 10px; /* space between buttons */
}

.cart-btn {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.green-btn {
  background-color: #28a745; /* Bootstrap green */
}

.green-btn:hover {
  background-color: #218838;
}

.red-btn {
  background-color: #dc3545; /* Bootstrap red */
}

.red-btn:hover {
  background-color: #c82333;
}

</style>
                        </div>
                      </div>
                    </div>
                    <div class="product-content">
                        <h2 style="text-align: left; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><a href="/stock-preview/{{topgainer.Symbol}}">{{topgainer.Name}}</a></h2>
                        <h4 style="text-align: left;">₹{{topgainer.CurrentPrice}} {% if topgainer.CurrentPrice > topgainer.ClosingPrice %}(<span style="color: green;">Bullish</span>){% else %}(<span style="color: red;">Bearish</span>){% endif %}</h4><br>
                        <p style="text-align: left;">Market Cap: <strong>{{topgainer.MktCap}}</strong>
                          <br>
                          Sector: <strong>{{topgainer.Sector}}</strong>
                          <br>
                          Volume: <strong>{{topgainer.Volume}}</strong>
                        </p>
                    </div>
                  </div>
                </div>
                 {% endfor %}
                 <div class="col-lg-4">
  <div class="product-box d-flex justify-content-center align-items-center" style="height: 100%; min-height: 300px;">
    <i class="bi bi-arrow-right-circle" style="font-size: 2rem;"></i>
    <a href="/categories">
      <h3 class="text-center m-0">&nbsp;See more...</h3>
    </a>
  </div>
</div>

                 <h1>Top Losers</h1>
                {% for toploser in topLosers %}
                <div class="col-lg-4">
                  <div class="product-box">
                    <div class="product-thumb">
                      <span class="product-label">{{toploser.Symbol}}</span>
                      <img src="https://assets-netstorage.groww.in/stock-assets/logos2/{{toploser.Symbol|slice:':-3'}}.png" alt="Product Image" class="main-img" loading="lazy">
                      <div class="product-overlay">
                        <div class="product-quick-actions">
                        </div>
                        <div class="add-to-cart-container">
                          <div class="cart-btn-group">
  <button type="button" onclick="window.location.href='/stock-preview/{{toploser.Symbol}}'" class="cart-btn green-btn"><i class="bi bi-arrow-up"></i></button>
  <button type="button" onclick="window.location.href='/stock-preview/{{toploser.Symbol}}'" class="cart-btn red-btn"><i class="bi bi-arrow-down"></i></button>
</div>
<style>
  .cart-btn-group {
  display: flex;
  gap: 10px; /* space between buttons */
}

.cart-btn {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.green-btn {
  background-color: #28a745; /* Bootstrap green */
}

.green-btn:hover {
  background-color: #218838;
}

.red-btn {
  background-color: #dc3545; /* Bootstrap red */
}

.red-btn:hover {
  background-color: #c82333;
}

</style>
                        </div>
                      </div>
                    </div>
                    <div class="product-content">
                        <h2 style="text-align: left; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><a href="/stock-preview/{{toploser.Symbol}}">{{toploser.Name}}</a></h2>
                        <h4 style="text-align: left;">₹{{toploser.CurrentPrice}} {% if toploser.CurrentPrice > toploser.ClosingPrice %}(<span style="color: green;">Bullish</span>){% else %}(<span style="color: red;">Bearish</span>){% endif %}</h4><br>
                        <p style="text-align: left;">Market Cap: <strong>{{toploser.MktCap}}</strong>
                          <br>
                          Sector: <strong>{{toploser.Sector}}</strong>
                          <br>
                          Volume: <strong>{{toploser.Volume}}</strong>
                        </p>
                    </div>
                  </div>
                </div>
                 {% endfor %}
                 <div class="col-lg-4">
  <div class="product-box d-flex justify-content-center align-items-center" style="height: 100%; min-height: 300px;">
    <i class="bi bi-arrow-right-circle" style="font-size: 2rem;"></i>
    <a href="/categories">
      <h3 class="text-center m-0">&nbsp;See more...</h3>
    </a>
  </div>
</div>


              </div>

            </div>

          </section><!-- /Category Product List Section -->

          <section id="cart" class="cart section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
<h1>Top by Market Cap</h1>
        <div class="row">
          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
            <div class="cart-items">

              {% for mkt in topMktCap %}
              <!-- Cart Item 3 -->
              <div class="cart-item">
                <div class="row align-items-center">
                  <div class="col-lg-6 col-12 mt-3 mt-lg-0 mb-lg-0 mb-3">
                    <div class="product-info d-flex align-items-center">
                      <div class="product-image">
                        <img src="https://assets-netstorage.groww.in/stock-assets/logos2/{{mkt.Symbol|slice:':-3'}}.png" alt="Product" class="img-fluid" loading="lazy">
                      </div>
                      <a href="/stock-preview/{{mkt.Symbol}}">
                        <div class="product-details">
                        <h6 class="product-title">{{mkt.Symbol}}</h6>
                        <div class="product-meta">
                          <span class="product-color">Price: {{mkt.CurrentPrice}}</span>
                          <span class="product-size">MktCap: {{mkt.MktCap}}</span>
                        </div>
                      </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div><!-- End Cart Item -->
              {% endfor %}

      </div>

    </section>
    <!-- Category Pagination Section -->
          <section id="category-pagination" class="category-pagination section">
              
              <center>
              <a href="/explore" class="btn btn-outline-dark">Explore More...</a>
              </center>

          </section><!-- /Category Pagination Section -->

        </div>

      </main>

  <footer id="footer" class="footer light-background">
    <div class="footer-main">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6">
            <div class="footer-widget footer-about">
              <a href="/" class="logo">
                <span class="BullPOV">BullPOV</span>
              </a>
              <p>Bullpov is India’s first stock-based skill gaming platform where users predict the rise or fall of stocks using logic and market insight.
We make the stock market fun, engaging, and educational, no trading involved.
It’s a gamified gateway to real investing, built to spark financial curiosity and confidence.</p>

              <div class="social-links mt-4">
                <h5>Connect With Us</h5>
                <div class="social-icons">
                  <a href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" aria-label="Twitter"><i class="bi bi-twitter-x"></i></a>
                  <a href="#" aria-label="TikTok"><i class="bi bi-tiktok"></i></a>
                  <a href="#" aria-label="Pinterest"><i class="bi bi-pinterest"></i></a>
                  <a href="#" aria-label="YouTube"><i class="bi bi-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="footer-widget">
              <h4>Contact Information</h4>
              <div class="footer-contact">
                <div class="contact-item">
                  <i class="bi bi-geo-alt"></i>
                  <span>123 Fashion Street, New York, NY 10001</span>
                </div>
                <div class="contact-item">
                  <i class="bi bi-telephone"></i>
                  <span>+1 (555) 123-4567</span>
                </div>
                <div class="contact-item">
                  <i class="bi bi-envelope"></i>
                  <span>hello@example.com</span>
                </div>
                <div class="contact-item">
                  <i class="bi bi-clock"></i>
                  <span>Monday-Friday: 9am-6pm<br>Saturday: 10am-4pm<br>Sunday: Closed</span>
                </div>
              </div>

              <div class="app-buttons mt-4">
                <a href="#" class="app-btn">
                  <i class="bi bi-app-indicator"></i>
                  <span>Download App</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row gy-3 align-items-center">
          <div class="col-lg-6 col-md-12">
            <div class="copyright">
              <p>© <span>Copyright</span> <strong class="BullPOV">BullPOV</strong>. All Rights Reserved.</p>
            </div>
            <div class="credits mt-1">
              Maintained with <i class="bi bi-heart-fill"></i> by <a href="https://orcabeam.com/">OrcaBeam</a>
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="d-flex flex-wrap justify-content-lg-end justify-content-center align-items-center gap-4">
              <div class="payment-methods">
                <div class="payment-icons">
                  <i class="bi bi-credit-card" aria-label="Credit Card"></i>
                  <i class="bi bi-paypal" aria-label="PayPal"></i>
                  <i class="bi bi-apple" aria-label="Apple Pay"></i>
                  <i class="bi bi-google" aria-label="Google Pay"></i>
                </div>
              </div>

              <div class="legal-links">
                <a href="tos.html">Terms</a>
                <a href="privacy.html">Privacy</a>
                <a href="tos.html">Cookies</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>


  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/drift-zoom/Drift.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>