{% extends 'base.html' %}
{% block title %}E - Learning | BullPOV{% endblock %}
{% load static %}
{% load tempfea %}
{% block body %}

    <!-- Blog Hero Section -->
    <section id="blog-hero" class="blog-hero section">
  <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>First L<span style="text-decoration: line-through;">EARN</span> then <span style="text-decoration:line-through;">L</span>EARN</h2>
        <p>Carefully curated content to help you gain stock market knowledge and educational insights, delivering a valuable experience is our top priority.</p>
      </div><!-- End Section Title -->
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="blog-grid">

          <!-- Secondary Featured Posts -->
          <div class="secondary-features">

            <article class="blog-item" data-aos="fade-up" data-aos-delay="100">
              <img src="https://i.ytimg.com/vi/p7HKvqRI_Bo/hq720.jpg?sqp=-oaymwEnCNAFEJQDSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLDgDkuZYQB7qENSOl50EL4d4-F5Ew" alt="Blog Image" class="img-fluid">
              <div class="blog-content">
                <div class="post-meta">
                  <span class="date">TED-Ed</span>
                  <span class="category">YouTube</span>
                </div>
                <h3 class="post-title">
                  <a href="https://youtu.be/p7HKvqRI_Bo?si=U1mZOjjvQo5ECsOP" title="Ut enim ad minim veniam quis nostrud exercitation">How does the stock market work? - Oliver Elfenbaum</a>
                </h3>
              </div>
            </article>

            <article class="blog-item" data-aos="fade-up" data-aos-delay="100">
              <img src="https://i.ytimg.com/vi/Xn7KWR9EOGQ/hq720.jpg?sqp=-oaymwEnCNAFEJQDSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLA4xMa2pW1P9KsLn1PljhYgTm3UUg" alt="Blog Image" class="img-fluid">
              <div class="blog-content">
                <div class="post-meta">
                  <span class="date">CA Rachana Phadke Ranade</span>
                  <span class="category">YouTube</span>
                </div>
                <h3 class="post-title">
                  <a href="https://youtu.be/Xn7KWR9EOGQ?si=9X39TQf6u739pozY" title="Ut enim ad minim veniam quis nostrud exercitation">Basics of Stock Market For Beginners Lecture 1 By CA Rachana Phadke Ranade</a>
                </h3>
              </div>
            </article>

            <article class="blog-item" data-aos="fade-up" data-aos-delay="100">
              <img src="https://i.ytimg.com/vi/WY2-Sn4L-XU/hq720.jpg?sqp=-oaymwEnCNAFEJQDSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCOyz-h29D7514KF9xZRLAOELiUxw" alt="Blog Image" class="img-fluid">
              <div class="blog-content">
                <div class="post-meta">
                  <span class="date">
Prateek Singh - LearnApp</span>
                  <span class="category">YouTube</span>
                </div>
                <h3 class="post-title">
                  <a href="https://youtu.be/WY2-Sn4L-XU?si=4cUYIrXIV6YX2by5" title="Ut enim ad minim veniam quis nostrud exercitation">How I would learn to trade! (If I could start over)</a>
                </h3>
              </div>
            </article>

            <article class="blog-item" data-aos="fade-up" data-aos-delay="100">
              <img src="https://i.ytimg.com/vi/8rIviI0ZKNA/hq720.jpg?sqp=-oaymwEnCNAFEJQDSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLDk4ba0IFt100Q9yO3T3ZTukDusXg" alt="Blog Image" class="img-fluid">
              <div class="blog-content">
                <div class="post-meta">
                  <span class="date">Pushkar Raj Thakur: Stock Market Educator</span>
                  <span class="category">YouTube</span>
                </div>
                <h3 class="post-title">
                  <a href="https://youtu.be/8rIviI0ZKNA?si=RRUNOfThauJyWcyb" title="Ut enim ad minim veniam quis nostrud exercitation">Stock Market Basic to Advance | Learn Share Market for Beginners | Investment & Trading by PRT</a>
                </h3>
              </div>
            </article>

          </div><!-- End Secondary Features -->


        </div>

      </div>

    </section><!-- /Blog Hero Section -->

{% endblock %}