{% extends 'base.html' %}
{% block title %}Forgot Username | BullPOV{% endblock %}
{% load static %}
{% block body %}

    <!-- Login Section -->
    <section id="login" class="login section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-8" data-aos="zoom-in" data-aos-delay="200">
            <div class="login-form-wrapper">
              <div class="login-header text-center">
                <h2>Get Username</h2>
                <p>No worries, we got you with your username.</p>
              </div>

              <form action="/fu" method="post">
                <div class="mb-4">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required="" autocomplete="email">
                </div>

                <div class="d-grid gap-2 mb-4">
                  <button type="submit" class="btn btn-primary">Get Username</button>
                </div>
                {% csrf_token %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Login Section -->

{% endblock %}