{% extends 'base.html' %}
{% block title %}BullPOV - India’s First Stock-Based Skill Gaming Platform{% endblock %}
{% load static %}
{% load tempfea %}
{% block body %}

<section class="ecommerce-hero-2 hero section" id="hero">
          <section id="hero" class="hero section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h2>Abb Market Chalega 24/7!</h2>
            <p class="lead">India’s First <strong>Skill</strong> Driven Stock Trend Platform</p>
            <div class="cta-buttons" data-aos="fade-up" data-aos-delay="300">
              {% if request.user.is_authenticated %}
              <a href="/dashboard" class="btn btn-primary">Trade Online</a>
              <a href="/categories" class="btn btn-outline">Explore Trends</a>
              {% else %}
              <a href="/beta" class="btn btn-primary">Register Yourself</a>
              <a href="/samachaar" class="btn btn-outline">Samachaar Padhein</a>
              {% endif %}
            </div>
            
          </div>
          <div class="col-lg-6">
              <div class="hero-image">
              <img src="{% static 'assets/img/hero.png' %}" alt="Portfolio Hero Image" class="img-fluid" data-aos="zoom-out" data-aos-delay="300">
            </div>
          </div>
        </div>

      </div>




      


    </section>
      <div class="container">
        <div class="hero-slider swiper init-swiper" data-aos="fade-up">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 800,
              "autoplay": {
                "delay": 2500
              },
              "effect": "fade",
              "fadeEffect": {
                "crossFade": true
              },
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              }
            }
          </script>
          <div class="swiper-wrapper">

            <!-- Sale Products Slide -->
            <div class="swiper-slide slide-sale">
              <div class="row align-items-center">
                <div class="col-lg-6 content-col" data-aos="fade-right" data-aos-delay="100">
                  <div class="slide-content">
                    <h1>Khojo</h1>
                    <p>Explore the buzzing world of Indian stocks, discover new companies, and uncover daily market opportunities that most people miss.
</p>
                  </div>
                </div>
                <div class="col-lg-6 image-col" data-aos="fade-left" data-aos-delay="200">
                  <div class="sale-showcase">
                    <div class="main-product">
                      <img src="{% static 'assets/img/khojo.png' %}" alt="Sale Product">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Sale Products Slide -->
            <div class="swiper-slide slide-sale">
              <div class="row align-items-center">
                <div class="col-lg-6 content-col" data-aos="fade-right" data-aos-delay="100">
                  <div class="slide-content">
                    <h1>Parkho</h1>
                    <p>Break down market trends, study patterns, and make informed predictions based on real data, not gut feeling.
</p>
                  </div>
                </div>
                <div class="col-lg-6 image-col" data-aos="fade-left" data-aos-delay="200">
                  <div class="sale-showcase">
                    <div class="main-product">
                      <img src="{% static 'assets/img/parkho.png' %}" alt="Sale Product">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Sale Products Slide -->
            <div class="swiper-slide slide-sale">
              <div class="row align-items-center">
                <div class="col-lg-6 content-col" data-aos="fade-right" data-aos-delay="100">
                  <div class="slide-content">
                    <h1>Khelo</h1>
                    <p>Put your analysis to the test by playing the ultimate skill-based stock prediction game and win exciting rewards while learning the market.
</p>
                  </div>
                </div>
                <div class="col-lg-6 image-col" data-aos="fade-left" data-aos-delay="200">
                  <div class="sale-showcase">
                    <div class="main-product">
                      <img src="{% static 'assets/img/khelo.png' %}" alt="Sale Product">
                    </div>
                  </div>
                </div>
              </div>
            </div>


          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </section><!-- /Hero Section -->

    <!-- Category Product List Section -->
     <br>
          <section id="category-product-list" class="category-product-list section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

              <div class="row gy-4">
                
                {% for s in stocks %}
                <div class="col-lg-4">
                  <div class="product-box">
                    <div class="product-thumb">
                      <span class="product-label">{{s.Symbol}}</span>
                      {% img s.Symbol as image_exists %}
                      {% if image_exists %}
                      <img src="https://assets-netstorage.groww.in/stock-assets/logos2/{{s.Symbol}}.png" class="main-img" loading="lazy">
                      {% else %}
                      <img src="{{s.Logo}}" class="main-img" loading="lazy">
                      {% endif %}
                      <div class="product-overlay">
                        <div class="product-quick-actions">
                        </div>
                        <div class="add-to-cart-container">
                          <div class="cart-btn-group">
                              <button type="button" onclick="window.location.href='/stock-preview/{{s.Symbol}}'" class="cart-btn green-btn"><i class="bi bi-arrow-up"></i></button>
                              <button type="button" onclick="window.location.href='/stock-preview/{{s.Symbol}}'" class="cart-btn red-btn"><i class="bi bi-arrow-down"></i></button>
                            </div>
                            <style>
                              .cart-btn-group {
                              display: flex;
                              gap: 10px; /* space between buttons */
                            }

                            .cart-btn {
                              flex: 1;
                              padding: 10px 20px;
                              font-size: 16px;
                              border: none;
                              color: white;
                              cursor: pointer;
                              border-radius: 10px;
                              transition: background 0.3s ease;
                            }

                            .green-btn {
                              background-color: #28a745; /* Bootstrap green */
                            }

                            .green-btn:hover {
                              background-color: #218838;
                            }

                            .red-btn {
                              background-color: #dc3545; /* Bootstrap red */
                            }

                            .red-btn:hover {
                              background-color: #c82333;
                            }

                            </style>
                        </div>
                      </div>
                    </div>
                    <div class="product-content">
                        <h2 style="text-align: left; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><a href="/stock-preview/{{s.Symbol}}">{{s.Name}}</a></h2>
                        <h4 style="text-align: left;">₹{{s.CurrentPrice|comma}} {% if s.CurrentPrice > s.ClosingPrice %}(<span style="color: green;">Bullish</span>){% else %}(<span style="color: red;">Bearish</span>){% endif %}</h4><br>
                        <p style="text-align: left;">Market Cap: <strong>{{s.MktCap|crores}}</strong>
                          <br>
                          Sector: <strong>{{s.Sector}}</strong>
                          <br>
                          Volume: <strong>{{s.Volume|comma}}</strong>
                        </p>
                    </div>
                  </div>
                </div>
                {% endfor %}

            </div>

          </section><!-- /Category Product List Section -->

<!-- Product List Section -->
    <section id="product-list" class="product-list section">

      <div class="full-image-section">
  <button onclick="window.location.href='/samachaar'" class="center-btn">Samachar Padhein</button>
</div>
<style>
  /* FULLSCREEN IMAGE SECTION - Scoped safely */
.full-image-section {
  width: 100vw;
  height: 60vh;
  background-image: url('{% static "assets/img/samachar.png" %}'); /* Replace with your image */
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

/* CENTERED BUTTON */
.full-image-section .center-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(81, 71, 71, 0.2);
  transition: background 0.3s ease;
}

.full-image-section .center-btn:hover {
  background: #272424;
}

</style>

    </section><!-- /Product List Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6">
            <div class="stats-item">
              <i class="bi bi-wallet"></i>
              <span data-purecounter-start="0" data-purecounter-end="490" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Stocks Listed</strong></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-4 col-md-6">
            <div class="stats-item">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="543" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Registered Users</strong></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-4 col-md-6">
            <div class="stats-item">
              <i class="bi bi-bank"></i>
              <span data-purecounter-start="0" data-purecounter-end="1086" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Transactions / Day</strong></p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->



<section id="how-it-works" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>How it works?</h2>
        <p>Here’s a detailed look at how you can effectively engage with and make the most out of your experience on BullPOV.
</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-12">
            <div class="resume-wrapper">
              <div class="resume-block" data-aos="fade-up">

                <div class="timeline">
                  <div class="timeline-item" data-aos="fade-up" data-aos-delay="200">
                    <div class="timeline-left">
                      <h4 class="company">Spot</h4>
                      <span class="period">Pick Up Stocks</span>
                    </div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-right">
                      <p class="description">Every day after the market closes at 3:30 PM, it’s your turn.
Look at popular or high-volume stocks and choose the ones you think will move.
Your prediction journey starts here, even when the market is off.</p>
                    </div>
                  </div>

                  <div class="timeline-item" data-aos="fade-up" data-aos-delay="300">
                    <div class="timeline-left">
                      <h4 class="company">Study</h4>
                      <span class="period">Understand the Trends</span>
                    </div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-right">
                      <p class="description">Check price charts, latest news, and market updates.
Look for patterns, global cues, or FII/DII data that may affect tomorrow’s stock movement.
Use your logic, not luck.</p>
                    </div>
                  </div>

                  <div class="timeline-item" data-aos="fade-up" data-aos-delay="400">
                    <div class="timeline-left">
                      <h4 class="company">Predict</h4>
                      <span class="period">Will it go Up or Down?</span>
                    </div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-right">
                      <p class="description">Based on your analysis, decide if the stock will close higher or lower the next day at 3:30 PM.
The earlier you predict, the more you can win.
It’s your skill vs the market.</p>
                    </div>
                  </div>

                  <div class="timeline-item" data-aos="fade-up" data-aos-delay="400">
                    <div class="timeline-left">
                      <h4 class="company">Play</h4>
                      <span class="period">Lock Your Prediction</span>
                    </div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-right">
                      <p class="description">Tap once and submit your call, Up or Down, anytime between 4:30 PM and 9:00 AM.
As more people join, the prize pool grows.</p>
                    </div>
                  </div>

                  <div class="timeline-item" data-aos="fade-up" data-aos-delay="400">
                    <div class="timeline-left">
                      <h4 class="company">Wait & Watch</h4>
                      <span class="period">See how it performs</span>
                    </div>
                    <div class="timeline-dot"></div>
                    <div class="timeline-right">
                      <p class="description">After you submit your prediction, just relax and watch the market.
When the market closes the next day, wait till 4:30 PM for the official result.
If your prediction is correct, you win real money from the prize pool!
Even if you don’t win, you’ll learn something new every time and get better.

</p>
                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>

      </div>

    </section>


    <section id="what-you-get" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>What You Get?</h2>
        <p>These are the key features and services we proudly offer to deliver value and an engaging experience to our users.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="row g-4">

              <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item">
                  <i class="bi bi-currency-rupee"></i>
                  <h3><a>Money</a></h3>
                  <p>Earn real money through your predictions and performance.</p>
                </div>
              </div><!-- End Service Item -->

              <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item">
                  <i class="bi bi-mortarboard-fill"></i>
                  <h3><a>Trading Experience</a></h3>
                  <p>Engage in a fun, skill-based environment that simulates real market conditions.</p>
                </div>
              </div><!-- End Service Item -->

              <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item">
                  <i class="bi bi-newspaper"></i>
                  <h3><a>Curated Financial News</a></h3>
                  <p>Stay informed with timely updates and insights from the world of finance and economics.</p>
                </div>
              </div><!-- End Service Item -->

            </div>
          </div>
        </div>

      </div>

    </section>



    <!-- Testimonials Section -->
    <section id="reviews" class="testimonials section">
            <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Words from Our Users</h2>
        <p>Here’s what our users have to say, genuine feedback that reflects their experience and the value they’ve found.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="testimonials-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "slidesPerView": 1,
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              }
            }
          </script>

          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-8">
                    <h2>Smart, Fun & Totally Exciting!</h2>
                    <p>
Bullpov changed the way I look at the stock market. I love how I can apply real-world news to my predictions, it’s exciting, challenging, and keeps me coming back. The platform is smooth, user-friendly, and makes learning feel like a game. It's honestly one of the best ways to stay sharp and engaged. Highly recommended for anyone curious about stocks!                    </p>
                    <div class="profile d-flex align-items-center">
                      <img src="{% static 'assets/img/neha.png' %}" class="profile-img" alt="">
                      <div class="profile-info">
                        <h3>Neha Singh</h3>
                        <span>User</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="featured-img-wrapper">
                      <img src="{% static 'assets/img/neha.png' %}" class="featured-img" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-8">
                    <h2>Learning Stocks While Having Fun!</h2>
                    <p>
Before Bullpov, finance always felt boring and intimidating. But now, I feel more confident reading market news and understanding trends. It’s not just a game, it’s an interactive learning journey that makes stocks exciting. The platform blends entertainment with education perfectly. I’ve genuinely started enjoying the world of finance thanks to Bullpov!                    </p>
                    <div class="profile d-flex align-items-center">
                      <img src="{% static 'assets/img/priya.png' %}" class="profile-img" alt="">
                      <div class="profile-info">
                        <h3>Priya Yadav</h3>
                        <span>User</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="featured-img-wrapper">
                      <img src="{% static 'assets/img/priya.png' %}" class="featured-img" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-8">
                    <h2>
                      My Daily Dose of Market Thrill
                    </h2>
                    <p>
BullPOV gives me the thrill of predicting stock movements in real market conditions. It’s become my new hobby to apply real knowledge and see measurable results daily. The concept is fresh, engaging, and skill-driven, which I absolutely love. It keeps me updated with market news and economic trends while testing my instincts every day. Truly a must-try for every curious youth!</p>
                    <div class="profile d-flex align-items-center">
                      <img src="{% static 'assets/img/rohan.png' %}" class="profile-img" alt="">
                      <div class="profile-info">
                        <h3>Rohan Verma</h3>
                        <span>User</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="featured-img-wrapper">
                      <img src="{% static 'assets/img/rohan.png' %}" class="featured-img" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

          </div>

          <div class="swiper-navigation w-100 d-flex align-items-center justify-content-center">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Faq Section -->
    <section id="faqs" class="faq section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>Below are some frequently asked questions (FAQs) that provide detailed insights and clarity about our platform, its features, and how you can make the most of it.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

            <div class="faq-container">

              <div class="faq-item faq-active">
                <h3>What is Bullpov and how does it work?</h3>
                <div class="faq-content">
                  <p>BullPOV is India’s first skill-based stock opinion platform where users predict whether a stock will go up or down by the end of the day. It’s not trading or investing, it’s a fun, competitive environment built around real-time market trends. You apply your insights, compete with others, and improve your financial instincts, all without owning a single stock.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Is Bullpov a stock trading or brokerage app?</h3>
                <div class="faq-content">
                  <p>No, Bullpov is not a stock trading or brokerage platform. You don’t buy or sell real stocks here. You simply use your skills to predict stock movements and compete for rewards, helping you learn market behavior in a fun.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Do I need prior stock market knowledge to play?</h3>
                <div class="faq-content">
                  <p>Not necessarily! While some market awareness helps, Bullpov is beginner-friendly. Over time, you’ll naturally learn how to read trends, follow financial news, and sharpen your analytical skills, all while playing.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Is Bullpov legal and safe to use in India?<h3>
                <div class="faq-content">
                  <p>Yes, Bullpov is completely legal and operates under the category of skill-based gaming. We don’t offer real trading or gambling, instead, it's a platform built around financial literacy and prediction-based competition.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How does Bullpov help me in real-life stock investing?</h3>
                <div class="faq-content">
                  <p>Bullpov sharpens your financial instincts by encouraging you to analyze market trends and predict stock directions. Over time, this builds confidence, improves decision-making, and prepares you to engage with the real stock market more skillfully, all in a fun, risk-free environment.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div><!-- End Faq Column-->

        </div>

      </div>

    </section><!-- /Faq Section -->
    {% endblock %}