{% extends 'base.html' %}
{% block title %}New Password | BullPOV{% endblock %}
{% load static %}
{% block body %}

    <!-- Login Section -->
    <section id="login" class="login section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-8" data-aos="zoom-in" data-aos-delay="200">
            <div class="login-form-wrapper">
              <div class="login-header text-center">
                <h2>Create New Password</h2>
                <p>Set your new password to get back your account.</p>
              </div>

              <form action="/pr/{{email}}-{{otp}}" method="post">
                <div class="form-group mb-3">
                  <label for="password" class="form-label">Create Password</label>
                  <div class="password-input">
                    <input type="password" class="form-control" name="pass1" id="pass1" required="" minlength="8" placeholder="At least 8 characters">
                  </div>
                  <small class="password-requirements">
                    Must be at least 8 characters long and include letters, number, and special character
                  </small>
                </div>

                <div class="mb-4">
                  <label for="email" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Repeat your password" required="">
                </div>

                <div class="d-grid gap-2 mb-4">
                  <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
                {% csrf_token %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Login Section -->

{% endblock %}