{% extends 'base.html' %}
{% block title %}Trade History | BullPOV{% endblock %}
{% load static %}
{% load tempfea %}
{% block body %}
<div class="container section-title" data-aos="fade-up">
  <br>
        <h2>Trade History</h2>
        <p>Keep track of your trades and stay ahead.</p>
      </div><!-- End Section Title -->
<section id="cart" class="cart section" style="margin-top: -110px;">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
        <div class="cart-items">

          {% for stock, predict in history %}
          <div class="cart-item mb-4 p-3 rounded shadow-sm" style="background-color: #ffffff; border: 1px solid #f6f4f4;">
            <div class="row align-items-center">
              <div class="col-lg-6 col-12">
                <div class="product-info d-flex align-items-center">
                  <div class="product-image me-3">
                    {% img stock.Symbol as image_exists %}
                    {% if image_exists %}
                      <img style="width: 50px; border-radius: 10px;" src="https://assets-netstorage.groww.in/stock-assets/logos2/{{stock.Symbol}}.png" alt="{{stock.Symbol}}">
                    {% else %}
                      <img style="width: 50px; border-radius: 10px;" src="{{stock.Logo}}" alt="{{stock.Symbol}}">
                    {% endif %}
                  </div>

                  <a href="/trade-details/{{stock.Symbol}}/{{predict.TradeID}}" class="text-decoration-none w-100">
                    <div class="product-details">
                      <h6 class="product-title mb-1">{{stock.Symbol}}</h6>
                      <div class="product-meta">
                        <span class="product-color d-block">
                          Prediction:
                          {% if predict.Prediction %}
                            <span style="color: green;">UP</span>
                          {% else %}
                            <span style="color: red;">DOWN</span>
                          {% endif %}

                          {% if predict.ActiveStatus %}
                            <span>Amount: ₹{{predict.Amount|comma}}</span>
                          {% else %}
                            Result:
                            {% if predict.Outcome %}
                              <span style="color: green;">WON</span>
                            {% else %}
                              <span style="color: red;">LOST</span>
                            {% endif %}
                          {% endif %}
                        </span>
                      </div>

                      {% if predict.ActiveStatus %}
                      <button class="remove-item mt-2 btn btn-sm btn-outline-success" type="button">
                        <span style="color: green; margin-top: -20px;"><i class="bi bi-check2-circle"></i> Active Trade</span>
                      </button>
                      {% endif %}
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
