{% extends 'base.html' %}
{% block title %}Watch List | BullPOV{% endblock %}
{% load static %}
{% block body %}

<section id="cart" class="cart section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
            <div class="cart-items">
                <h1>Your Watch List</h1>
              {% for stock in watch %}
              <!-- Cart Item 3 -->
              <div class="cart-item">
                <div class="row align-items-center">
                  <div class="col-lg-6 col-12 mt-3 mt-lg-0 mb-lg-0 mb-3">
                    <div class="product-info d-flex align-items-center">
                      <div class="product-image">
                        <img src="https://assets-netstorage.groww.in/stock-assets/logos2/{{stock.Symbol|slice:':-3'}}.png" alt="Product" class="img-fluid" loading="lazy">
                      </div>
                      <a href="/stock-preview/{{stock.Symbol}}">
                        <div class="product-details">
                        <h6 class="product-title">{{stock.Symbol}}</h6>
                        <div class="product-meta">
                          <span class="product-color">Price: {{stock.CurrentPrice}}</span>
                          <span class="product-size">MktkCap: {{stock.MktCap}}</span>
                        </div>
                    </a>
                        <button onclick="window.location.href='/remove-watch-list/{{stock.Symbol}}'" class="remove-item" type="button" style="color: red;">
                          <i class="bi bi-check2-circle"></i> Remove Stock
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Cart Item -->
              
              {% endfor %}

      </div>

    </section>

{% endblock %}